body {
  font-family: verdana, sans-serif;
}

nav {
  margin: 10 0 20px;
}

nav a {
  display: inline-block;
  margin: 0 10px;
}

h2 {
  border-bottom: 1px solid black;
}

strong {
  display: inline-block;
  margin-right: 10px;
}

input, label, textarea {
  display: block;
  margin: 5px 0;
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
  padding-left: 10px;
}

.flash {
  border-radius: 4px;
  color: white;
  padding: 10px;
}

.flash-info {
  background: green;
}

.flash-alert {
  background: red;
}