
 <body>
  <head>
<div id="nav">
  <div id="nav_wrapper">
    <ul>
      <li><a href"login">Login</a></li><li>
      <a href"profiles">My Profiles</a></li><li>
      <a href"bloghome">Blog</a></li></li>
      <a href"profilesetupform">My Account<img scr="arrow.png"/></a></li>
      <ul>
          <li><a href="#">SubMenu</a></li>
          <li><a href="#">SubMenu</a></li>
          <li><a href="#">SubMenu</a></li>
        </ul>
      <a href"#">Exit</a></li>
        
      </li>
    </ul>
  </div>
</div>
</head>
<body> 

  <form action="/log-in" method="post">
  <div class="login-card">
    <h1>Log-in</h1><br>
      <form>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" name="login" class="login login-submit" value="login">
      </form>
  
    
  <div class="login-help">
    <a href="/profilesetupform">Register</a> • <a href="#">Forgot Password</a>
  </div>
</div>