


  <form method="POST" action="/contact-us-post" class="well">

      <label for="fname"></label>
      <input type="text" name="name_input" class="span4" placeholder="First">
      <span class="and"> &</span>

      <label for="lname"></label>
      <input type="text" name="Last" class="span4" placeholder="Last"><br>

      <label for="email_input"></label>
      <input type="text" name="email_input" class="span4" placeholder="email@address"><br>

      <label for="pswd"></label>
      <input type="text" name="password" class="span4" placeholder="password"><br>
     
      <label for="username"></label><br>
      <textarea name="message_body" cols='100' rows="10" placeholder="username"></textarea><br>
      <button type="submit" class="btn" value="Send">Submit</button>
    </form>

<h1>My Profile</h1>
<% user.username %>
<br>

	

<!-- </form>

Username">
    <input type="password" name="pass" placeholder="Password">
    <input type="text" name="user" placeholder="Username">
    <input type="password" name="pass" placeholder="Password">
    <input type="submit" name="login" class="login login-submit" value="login">
  </form>    <input type="text" name="user" placeholder=" -->