


  <form method="POST" action="/contact-us-post" class="well">

      <label for="fname"></label>
      <input type="text" name="name_input" class="span4" placeholder="First">
      <span class="and"> & </span>

      <label for="lname"></label>
      <input type="text" name="email_input" class="span4" placeholder="email@address"><br>

      <label for="email_input"></label>
      <input type="text" name="email_input" class="span4" placeholder="email@address"><br>
     
      <label for="message_body"></label><br>
      <textarea name="message_body" cols='100' rows="10" placeholder="your message"></textarea><br>
      <button type="submit" class="btn" value="Send">Submit</button>
    </form>


	

<!-- </form>

Username">
    <input type="password" name="pass" placeholder="Password">
    <input type="text" name="user" placeholder="Username">
    <input type="password" name="pass" placeholder="Password">
    <input type="submit" name="login" class="login login-submit" value="login">
  </form>    <input type="text" name="user" placeholder=" -->