<html>
<head>
  <title>a title</title>
</head>
<body>
  <br />
  <br />
  <br />
  <div>THIS IS SOME HEADER STUFF</div> 
  <em><%= yield %></em>
  <br />
  <br />
  <br />
  <div>IMAGINE SOME FOOTER STUFF HERE</div> 
</body>
</html>