<html>
  <head>
    <title>HTML title</title>
  </head>
  <body>
    "Hi! My name is... What!? ... My name is who!? ... Slim Shady!"
    <strong>(this time using ERB)</strong>

    <!-- this is a comment -->
    <%= arr = sdfsd[19, "else", "is", "here"] %>
    <% arr[0] = 1000 %>
    <%= arr %>

  </body>
</html>