<!-- this sets bunch_of_names equal to the list of names -->
<% a_bunch_of_names = ["orlando", "trisha", "george"] %>

<!-- this displays each name within strong html tags -->
<% a_bunch_of_names.each do |name| %>
  <p><strong><%= name %></strong></p>
<% end %>